%h1 Avlaiable travels

%table
  %thead
    %tr
      %th Destination
      %th

  %tbody
    - @travels.each do |travel|
      %tr
        %td= travel.place_to.name_with_ancestors
        %td= link_to 'Start travel', game_board_investigator_move_start_path( @current_game_board, @investigator, travel_destination: travel.id ), method: :post

