%table.table
  %tr
    %th{ colspan: 3 }
      Game log
  %tr
    %th
      Time
    %th
      Presage
    %th
      Portals
    %th
      Destiny
  - @board_log.each do |log|
    %tr
      %td= log.created_at.strftime( '%R' )
      %td= log.presage
      %td= log.portal_count
      %td= log.final_destiny
