%div.action_div
  %table
    %tr
      %th{ colspan: 3 }
        Game status
    %tr
      %th
        Next presage
      %th
        Destiny
      %th
        Portals
      %th
        Clues
      %tr
        %td= @current_game_board.next_presage
        %td= @current_game_board.destiny
        %td= @current_game_board.portals.count
        %td= @current_game_board.clues.count