%table.table
  %tr
    %th
      News
  - @in_the_news_places.each do |in_the_news|
    %tr
      %td
        - if in_the_news.discovered_clue
          %strike
            = news_info( in_the_news )
        - else
          = news_info( in_the_news )
